# dependencies
frontend/node_modules
/node_modules
/.pnp
.pnp.*

# testing
frontend/coverage
/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build
/build

# misc
.DS_Store
*.pem
frontend/.env*
.env*
frontend/lint_output.txt
frontend/tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel/netlify
.vercel
.netlify
